<div class="novedades" >
    
    <div class="Novedades">
        <div class="col-7">
            <h3>Listado de Novedades</h3>
            <p class="text">Hola {{persona}}</p>
        </div>
        <div class="botones">
            <a class="btn" href="/admin/novedades/agregar"><i class="fa fa-plus" aria-hidden="true"></i></a>

            <a class="btn" href="/admin/login/logout"><i class="fas fa-sign-out-alt"></i></a>
            
        </div>
    </div>
     

    <div class="tabla">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="cabezal">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" title="Editar"   href="/admin/novedades/modificar/{{id}}"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                            <a class="btn btn-secondary" title="Eliminar" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody> 
            </table>
        </div>
    </div>


</div>